/* Yleiset tyylit */
body{

    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4a90e2;
  }
  
  .balance-box {
    background-color: #4a90e2;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .balance-box h3 {
    margin: 0;
    font-size: 18px;
  }
  
  #balance {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    text-align: left;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    padding: 10px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #357abd;
  }
  
  #transaction-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #transaction-list li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #transaction-list li.income {
    border-left: 5px solid #2ecc71;
  }
  
  #transaction-list li.expense {
    border-left: 5px solid #e74c3c;
  }

  .confirmation-overlay {
    position: fixed;     
    top: 0;
    left: 0;
    width: 100vw;        
    height: 100vh;       
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .confirmation {
    background: #fff;
    padding: 20px;    
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;     
    
  }
  .confirmation-buttons {
    display: flex;
    justify-content: center; 
    gap: 10px;  
    margin-top: 20px;
  }

  .settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }


  .settings {
    background: #fff;
    padding: 20px;    
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;    
  }

  .app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
  }

  .app-container.dark {
    background-color: #333;
    color: gray;
  }

  .app-container.light {
    background-color: #ccc;
    color: #333;
  }
